## Slice, index, select Pandas Dataframe

This is the code for the [YouTube Tutorial on using iloc and loc to slice pandas dataframe](https://youtu.be/W1ryq6Wvg8g)

In [7]:
import pandas as pd

# Create some variables
trials = range(1, 21)
n_rows = len(trials)
subj_id = [1]*n_rows
group = ['Control']*n_rows
condition = ['Affect']*int((n_rows/2)) + ['Neutral']*int((n_rows/2))

# Create a dictionairy
data = {'Condition':condition, 'Subject_ID':subj_id, 
        'Trial':trials, 'Group':group}

# Create the dataframe
df = pd.DataFrame(data)
df.head(10)

  Condition  Subject_ID  Trial    Group
0    Affect           1      1  Control
1    Affect           1      2  Control
2    Affect           1      3  Control
3    Affect           1      4  Control
4    Affect           1      5  Control
5    Affect           1      6  Control
6    Affect           1      7  Control
7    Affect           1      8  Control
8    Affect           1      9  Control
9    Affect           1     10  Control

In [8]:
# Select row five to 10
df[4:10:1]

  Condition  Subject_ID  Trial    Group
4    Affect           1      5  Control
5    Affect           1      6  Control
6    Affect           1      7  Control
7    Affect           1      8  Control
8    Affect           1      9  Control
9    Affect           1     10  Control

In [9]:
df.loc[4:9,:]

  Condition  Subject_ID  Trial    Group
4    Affect           1      5  Control
5    Affect           1      6  Control
6    Affect           1      7  Control
7    Affect           1      8  Control
8    Affect           1      9  Control
9    Affect           1     10  Control

In [10]:
df.loc[10:14,:]

   Condition  Subject_ID  Trial    Group
10   Neutral           1     11  Control
11   Neutral           1     12  Control
12   Neutral           1     13  Control
13   Neutral           1     14  Control
14   Neutral           1     15  Control

In [13]:
df.loc[0, 'Condition']

'Affect'

In [14]:
# Printing out one column
df.loc[:, 'Condition']

0      Affect
1      Affect
2      Affect
3      Affect
4      Affect
5      Affect
6      Affect
7      Affect
8      Affect
9      Affect
10    Neutral
11    Neutral
12    Neutral
13    Neutral
14    Neutral
15    Neutral
16    Neutral
17    Neutral
18    Neutral
19    Neutral
Name: Condition, dtype: object

In [15]:
# Printing out two columns
df.loc[:, ['Condition', 'Group']]

   Condition    Group
0     Affect  Control
1     Affect  Control
2     Affect  Control
3     Affect  Control
4     Affect  Control
5     Affect  Control
6     Affect  Control
7     Affect  Control
8     Affect  Control
9     Affect  Control
10   Neutral  Control
11   Neutral  Control
12   Neutral  Control
13   Neutral  Control
14   Neutral  Control
15   Neutral  Control
16   Neutral  Control
17   Neutral  Control
18   Neutral  Control
19   Neutral  Control

In [16]:
# Printing out from second column
df.loc[4:9, ['Condition', 'Group']]

  Condition    Group
4    Affect  Control
5    Affect  Control
6    Affect  Control
7    Affect  Control
8    Affect  Control
9    Affect  Control

In [17]:
# From column 'Subject_ID' and forward
df.loc[4:9, 'Subject_ID':]

# From column 'Trial' and forward
# df.loc[4:9, 'Trial':]

   Subject_ID  Trial    Group
4           1      5  Control
5           1      6  Control
6           1      7  Control
7           1      8  Control
8           1      9  Control
9           1     10  Control

In [18]:
# Printing out fifth to the twentieth row and all columns
# Note the difference!
df.iloc[4:10,:]

  Condition  Subject_ID  Trial    Group
4    Affect           1      5  Control
5    Affect           1      6  Control
6    Affect           1      7  Control
7    Affect           1      8  Control
8    Affect           1      9  Control
9    Affect           1     10  Control

In [20]:
df.iloc[4:10, 0]

4    Affect
5    Affect
6    Affect
7    Affect
8    Affect
9    Affect
Name: Condition, dtype: object

In [22]:
df.iloc[4:10, [0, 3]]

  Condition    Group
4    Affect  Control
5    Affect  Control
6    Affect  Control
7    Affect  Control
8    Affect  Control
9    Affect  Control

In [23]:
df.iloc[4:10, 1:]

   Subject_ID  Trial    Group
4           1      5  Control
5           1      6  Control
6           1      7  Control
7           1      8  Control
8           1      9  Control
9           1     10  Control